{% extends 'finanzas/base.html' %}
{% block content %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Creacion de Usuario</h4>
                  <form class="forms-sample" method="POST"> {% csrf_token %}

               <div class="form-group">
                      <label for="exampleInputName1">{{form.primernombre.label}}</label>
                                      {{ form.primernombre }}
               </div>
               <div class="form-group">
                      <label for="exampleInputName1">{{form.segundonombre.label}}</label>
                                      {{ form.segundonombre }}
               </div>
               <div class="form-group">
                      <label for="exampleInputName1">{{form.primerapellido.label}}</label>
                                      {{ form.primerapellido }}
               </div>
               <div class="form-group">
                      <label for="exampleInputName1">{{form.segundoapellido.label}}</label>
                                      {{ form.segundoapellido }}
               </div>
               <div class="form-group">
                      <label for="exampleInputName1">{{form.cedula.label}}</label>
                                      {{ form.cedula }}
               </div>
               <div class="form-group">
                      <label for="exampleInputName1">{{form.limiteegreso.label}}</label>
                                      {{ form.limiteegreso }}
               </div>
               <div class="form-group">
                      <label for="exampleInputName1">{{form.tipopersona.label}}</label>
                                      {% for opcion in form.tipopersona %}
                                          {{opcion.label}}
                                      {% endfor %}
               </div>

                     {{ form.estado }}


                  </form>
                </div>
              </div>
            </div>
{% endblock %}