{% extends 'finanzas/base.html' %}
{% block content %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Editar</h4>
                  <form class="forms-sample" method="POST"> {% csrf_token %}

               <div class="form-group">
                      <label for="exampleInputName1">{{form.descripcion.label}}</label>
                                      {{ form.descripcion }}
               </div>
               <div class="form-group">
                      <label for="exampleInputName1">{{form.estado.label}}</label>
                                      {{ form.estado }}
               </div>
                  </form>
                </div>
              </div>
            </div>
{% endblock %}